global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'jupyter'
    static_configs:
      - targets: ['jupyter:8888']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']
